<div class="bg-milk border border-bottom-0 mb-0">
    <ul class="nav">
        <li onclick="showPage('ManageUsers')" class="page1 nav-item"><a href="/users/adminDashboard" class="nav-link">Manage Users</a>
        </li>
        <li onclick="showPage('blogLog')" class="page2 nav-item"><a href="/users/bloglog" class="nav-link">Blog Log</a></li>
        <li onclick="showPage('Messages')" class="page3 nav-item"><a class="nav-link">Messages</a></li>


    </ul>
</div>
