<%- include("./partials/header.ejs") -%>


<div class="container">
    <div class="row justify-content-center">

        <div class="m-5 bg-milk rounded p-2 col-lg-6">
            <center>
                <h3 class="text-danger">Create Blog post</h3>
            </center>
            <form>
                <fieldset class="form-group">
                    <input type="text" placeholder="Title of Post" class="form-control">
                    <small class="text-muted">you can insert your title</small>
                </fieldset>

                <fieldset class="form-group">
                    <input type="file" placeholder="Title of Post" class="form-control-file">
                    <small class="text-muted">you can insert pictures to your blogs</small>

                </fieldset>jenjennyny

                <fieldset class="form-group">
                    <textarea rows="12" placeholder="Post Content" class="form-control"></textarea>


                </fieldset>

                <fieldset class="form-group">
                    <textarea placeholder="Post Content preview" class="form-control"></textarea>


                </fieldset>

                <fieldset class="form-group">
                    <button type="submit" class="btn btn-info">publish post</button>


                </fieldset>
            </form>
        </div>
    </div>
</div>

<%- include("./partials/footer.ejs") -%>